* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.a {
  width: 400px;
  height: 400px;
  background-color: red;
}

.b {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  left: 500px;
}
