<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <form action="/response" method="GET">
      <label for="fullname">You name</label>
      <input type="text" name="fullname" id="fullname" />
      <label for="age">You age</label>
      <input type="number" name="age" id="age" />
      <button type="submit">Submit</button>
    </form>
    <br />
    <section>
      <table>
        <tr>
          <th>name</th>
          <th>age</th>
          <th>weight</th>
        </tr>

        <!-- craete table by forEach with an array of object -->
        <% obj.forEach((n)=>{ %>
        <tr>
          <td><%=n.name %></td>
          <td><%=n.age %></td>
          <td><%=n.weight %></td>
        </tr>

        <% })%>
      </table>
    </section>
  </body>
</html>
